<!-- jumbotron section -->
<section id="container" class="align-middle h-auto relative">
    <div class="absolute content w-full text-center top-[340px] text-white">
        <h2 class="text-[50px] leading-[50px]">selamat datang di Amadeus</h2>
        <p class="w-[40%] hp:w-[80%] hp:mt-[15px] mx-auto mt-[30px]">kelola dan kembangkan usaha anda dengan menggunakan <i>Amadeus</i> dengan amadeus, mengelola data keuangan adalah hal yang mudah.</p>
        <button
            class=" py-[15px] px-[30px] bg-[#FFC329] rounded-[40px] mt-[40px] align-middle button"><a class="text-black" href="/login">get started <span class="align-middle material-symbols-outlined text-black">login</span></a></button>
    </div>
</section>

<!-- 3 buah gambar informasi singkat -->
<div class="top-[15rem] w-[full] py-[20rem] hp:py-[10rem] hp:px-[10px]">

    <div>
        <h2 class="text-center hp:text-[30px]">Cobalah <span class="text-[red]">Amadeus</span> Sekarang</h2>
    </div>

    <div class="w-[80%] flex mx-auto mt-[25px] hp:block" id="3-gambar-index">
        <div class="w-1/3 hp:w-full overflow-hidden container-img-3">
            <img src="img/keterangan-3.png" alt="" class="w-full">
        </div>
        <div class="w-1/3 hp:w-full overflow-hidden container-img-3">
            <img src="img/keterangan-2.png" alt="" class="w-full">
        </div>
        <div class="w-1/3 hp:w-full overflow-hidden container-img-3">
            <img src="img/keterangan-1.png" alt="" class="w-full">
        </div>
    </div>

</div>
    <!-- keterangan sectiom -->
    <!-- <section class="py-[40px] mt-[10rem] text-center">
        <div>
            <img src="img/littleimg.jpg" alt="" class="w-[120px] mx-auto mt-[5rem]">
            <h1 class="w-[40%] mx-auto leading-10">kelola data keuangan suatu bisnis atau mandiri menggunakan Amadeus</h1>
            <p style="color: rgba(26, 26, 26, 0.582);" class="w-[40%] mx-auto mt-[20px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima laudantium, obcaecati ad ipsam consequuntur tenetur perferendis eius! Qui nisi aut consequuntur, labore voluptate odio totam sed velit repellat voluptas facere!</p>
        </div>
    </section> -->