<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amadeus</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="flex h-[70px]"> 
        <div class="w-1/2">
            <h1 class="">ADS</h1>
        </div>
        <div class="w-1/2 text-right flex place-content-center">
            <ul class="flex justify-center gap-20">
                <li class="align-middle"><a href="#">Home</a></li>
                <li class="col"><a href="#">About</a></li>
                <li class="col"><a href="#">Docs</a></li>
                <li class="col"><a href="#">Contact</a></li>
            </ul>
        </div>
    </header>

    <section id="container" class="jumbotron">
        <img src="img/jumbotron.jpg" alt="">
        <h1>selamat datang di Amadeus</h1>
        <p>Amadeus adalah alat untuk mengelola keuangan, toko, dan lain lain</p>
        <button><a href="/account">memulai</a></button>
    </section>
</body>
</html>