

    <div class="h-[30rem] bg-amber-500"></div>
    <div class="h-[30rem]"></div>

    <div class="w-[60rem] h-[40rem] rounded-md mt-[2rem] text-center box-center-abosolute bg-white shadow-md flex">
        <div class="w-1/2 rounded-l-md" id="img-signup">
    
        </div>
    
        <div class="w-1/2">
            <h2 class="mt-[11rem]">Signup</h2>

            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %> 

            <form action="/signup" method="post">
                <br>
                <input placeholder="username" id=" username" type="text" name="username" class="rounded border-[1px] border-black border-solid w-[250px]"><br>
                <input placeholder="password" id=" password" type="text" name="password" class="rounded border-[1px] border-black border-solid w-[250px] mt-[10px]"><br>
                <input placeholder="email" id=" email" type="text" name="email" class="rounded border-[1px] border-black border-solid w-[250px] mt-[10px]"><br>
                <button type="submit" class="bg-[#0074cc] p-[10px] rounded mt-[20px] text-[white]">Submit</button>
            </form>
            <p class="mt-[40px]">sudah punya akun ? masuk <a href="/login" class="text-[#0074cc]">disini</a></p>
        </div>
    </div>