<div>
    <h2>about</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, hic assumenda vel autem consectetur harum aut explicabo dolor in recusandae modi sit nihil temporibus nemo libero deserunt cumque quod architecto?</p>
</div>